.p-3.container
  %h3.mt-1
    - if params[:op] == 'highly_rated'
      お近くの評価が高いセット一覧
    - elsif params[:op] == 'latest'
      お近くの新着セット一覧
    - else
      メニュー一覧
  - @menus.all.limit(4).order(:id).each do |menu|
    .row.py-1
      .col-12
        .card
          .d-flex.shadow-sm
            = image_tag menu.image.url, style: 'width: 45%;height: auto'
            .card-body
              %h5.card-title
                = menu.name
              %h6.card-subtitle.mb-2.text-muted
                = menu.description
              %p.card-text
                テスト
              = link_to "詳細を見る", menu_path(menu), class: 'btn btn-primary'
